<%= form_for(@query) do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container" id="query_container">

    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-8">

      <p><img src='/assets/title.png' alt='Title image'></p>

      <!-- having troubles getting image_tag to work, could be due to potential issues of asset pipeline settings -->
        <!-- <p>
         <% image_tag('title.png', :size => '32x32', :alt => 'Title image') %>
        </p> -->

      </div>

    </div>
    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-10" >
          <!-- <span><%= f.label :query_text %></span> -->
          <span><%= f.text_field :query_text, placeholder: "Find The Dream Job", size: 40 %></span>
          <span> <%= f.text_field :location_text, placeholder: "Anywhere", size: 40 %></span>
          <span><%= f.submit %> </span>
      </div>


    </div>
  </div>

<% end %>
