<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Description</th>
      <th>Url</th>
      <th>Source</th>
      <th>Level</th>
      <th>Type</th>
      <th>Post date</th>
      <th>Exp date</th>
      <th>Education req</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.title %></td>
        <td><%= result.summary %></td>
        <td><%= result.description %></td>
        <td><%= result.url %></td>
        <td><%= result.source %></td>
        <td><%= result.level %></td>
        <td><%= result.type %></td>
        <td><%= result.post_date %></td>
        <td><%= result.exp_date %></td>
        <td><%= result.education_req %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
